* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    height: 700px;
    max-width: 70%;
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px #DDD;
    overflow:auto; 
}

.left-side {
    background-image: url(./flower.png);
    background-position: center;
    flex-grow: 1;
    position: relative;
    width: 100vh;
    min-width: 345px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20vh;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-weight: lighter;
}

.logo {
    width: 5rem;
    padding: 10px;
}

.left-side p {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.575);
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.description {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    height: 33%;
    justify-content: space-around;
    font-size: 1.25rem;
    width: 90%;
}

.description p:nth-of-type(2) {
    margin-top: 40px;
}


.form-container {
    background-color: #fcf9f4;
    padding: 2rem 2rem;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, .5);
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.form-container p {
    font-size: 1.25rem;
    font-weight: 600;
}

fieldset {
    border: none;
    display: flex;
    gap: 3rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 33%;
}

.inputs label {
    font-size: 0.7rem;
    font-weight: 500;
}

input {
    border: 2px solid grey;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
  }

input:invalid {
    border-color: red;
}

input:focus {
    border-color: green;
}

.button-area {
    padding-left: 2rem;
    padding-bottom: 2rem;
}

button[type='submit'] {
    border: none;
    border-radius: 6px;
    background-color: #7eafeb;
    color: white;
    padding: .8rem 1.3rem;
    font-size: 1.2rem;
}

button[type='submit']:hover {
    background-color: #0e588c;
    cursor: pointer;    
}

a {
    color:#7eafeb;
    text-decoration: none;
}

a:hover {
    color:#0e588c;
    cursor: pointer;
}


